body {
    font-family: verdana;
    font-size: 28px;
    background-color: rgb(230, 213, 140);
    display:flex;
    flex-direction: column;
}

body>div{
flex: 1;
}

h1,h2,button {
    color: rgb(117, 73, 23);
    text-align: left;
}

p {
    color: rgb(119, 76, 26);
    text-align: left;
}

#map { 
    border: 4px solid rgb(116, 83, 18);
    height: 550px;
    width: 1700px;
}

.menü{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.seite{
    width: 15%;
}

#suchleiste{
    width: 75%;
    font-size: larger;
}

.travelpaca{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:20px
}

input{
    height: 2.5rem;
}

#button2{
    width: 60%; 
    height: 10%;
}

#button3{
    width: 60%;
    height: 10%;
}

h3{
    color: rgb(240, 135, 15);
    text-align: left;
}